APP_NAME="Opti Ventas"
APP_ENV=production
APP_DEBUG=false

# En InfinityFree, lo normal es dejarlo vacío y que la app detecte el dominio,
# o poner una URL fija como: https://tu-dominio.com
APP_URL=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=opti_ventas_php
DB_USERNAME=root
DB_PASSWORD=
